.app {
  height: 100%;
  background-color: #111;
  display: grid;
  grid-template-rows: 76px minmax(0, 1fr);
}

h1 {
  text-align: center;
  font-size: 42px;
  color: #eee;
  display: block;
  margin: 0;
  width: 100%;
  background-color: #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.environment {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  height: 100%;
  display: grid;
  grid-template-rows: 72px minmax(0, 1fr);
}

.ide {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: minmax(0, 1fr) 128px;
  gap: 8px;
  padding-bottom: 16px;
}

.editor-container {
  overflow-y: auto !important;
  height: 100%;
  border: 2px solid #999;
}

.editor {
  min-height: 100%;
}

.editor textarea:focus {
  outline: none;
}

.editor pre,
.editor textarea,
.output {
  font-size: 13px !important;
  font-family: "JetBrains Mono", monospace !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.editor pre,
.editor textarea {
  color: #eee;
  caret-color: #eee;
  padding-left: 60px !important;
}

.editor .line-number {
  position: absolute;
  left: 0px;
  color: #999;
  text-align: right;
  width: 40px;
  font-weight: 100;
}

.output {
  width: 100%;
  height: 100%;
  border: 2px solid #999;
  color: #999;
  padding: 8px;
  white-space: pre-line;
  overflow-y: auto;
}

.settings {
  margin: 0 auto;
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

button {
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: #ddd;
  border: 2px solid #ddd;
  padding: 5px 8px;
  cursor: pointer;
}

button.active {
  color: #34f36e;
  border-color: #34f36e;
}

button:focus {
  outline: none;
}

.error-line {
  display: inline-block;
  width: 100%;
  background-color: var(--error-bg);
}

.line-number:has(+ .error-line) {
  color: var(--error-fg);
  font-weight: 500;
}

:root {
  --keyword: #bc86be;
  --error-bg: #4c1919;
  --error-fg: #d44242;
}

/* ===== fioletowy/różowy */
.token:is(.range, .rangeinclude) {
  color: var(--keyword);
}

/* ===== fioletowy/różowy */
.token:is(.numbertypeliteral, .booleantypeliteral, .stringtypeliteral, .voidtypeliteral) {
  color: var(--keyword);
}

/* ===== fioletowy/różowy */
.token:is(.nullliteral, .booleanliteral) {
  color: var(--keyword);
}

/* ===== Pomarańcz */
.token:is(.stringliteral) {
  color: #c4917b;
}

/* ===== inny niebieski */
.token:is(.integerliteral, .floatliteral) {
  color: #b9ceab;
}

/* ===== wyszarzenie linijki */
.token:is(.multilinecomment, .singlelinecomment) {
  color: #74995b;
}

.token:is(.identifier) {
  color: #abdcfb;
}

.token:is(.print) {
  color: #d7d8a5;
}

/* ===== fioletowy/różowy (keywords) */
.token:is(.break, .continue, .return, .loop, .whileloop, .function, .if, .else, .class, .this, .super) {
  color: var(--keyword);
}
